@import '~antd/dist/antd.css';

.todo_wrapper {
  text-align: left;
  width:100%;
  margin:auto;
  height: 58px;
  border:none;
  border-bottom:1px solid #d9d9d9;
  padding-left:15px;
  font-size: 20px;
  font-weight: 300;
}

.todo_label{
  display: inline-block;
  width: 90%;
  padding:15px 60px 15px 15px;
}

.todo_input{
  width: 508px;
  height: 100%;
  margin-left: 25px;
}

.todo_checked{
  color: #d9d9d9;
  text-decoration: line-through;
}

.todo_close{
  border:none;
}